.admin {
  background-image: url("../images/backgroundOne.jpg");
  background-size: cover;
  background-position: cover;
  background-repeat: no-repeat;
  position: relative;
  min-height: 100vh;
  z-index: 0;
}

.admin::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.33);
  z-index: -1;
}

.admin__layout {
  z-index: 1;
}

.main__container {
  height: calc(100vh - 120px);
  overflow-y: auto;
  position: relative;
}

.main__container::-webkit-scrollbar {
  width: 5px; /* Tamaño del scroll en vertical */
  height: 5px; /* Tamaño del scroll en horizontal */
}
.main__container::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}
.main__container::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

/* LIST ITEM */

.MuiListItem-root {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 1rem;
  margin: 0.25rem 0;
  cursor: pointer;
}

.MuiListItem-root:hover {
  background-color: rgba(0, 0, 0, 0.75);
}

.empty__box {
  background-color: rgba(0, 0, 0, 0.5);
  width: 300px;
  border-radius: 1rem;
}

/* TEXTFIELD */

.float__text {
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  border: none;
}
textarea,
input {
  color: #fff !important;
}

/* USER OPTIONS BOX IMAGES CONTAINER */

.user_images {
  height: calc((100vh) - 215px);
  overflow-y: auto;
}

.user_images::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.user_images::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 4px;
}
.user_images::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.15);
  border-radius: 4px;
}
